$btnC: #b61a01;
$cWhite: white;


.main{
    height: 80vh;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10vh;
    padding: 60px 60px;
    background-color: #505050;   
    box-shadow: 0px 30px 60px -5px #000;
    border-radius: 10px;
}


.logo{
  height: 20vh;
}


.flex{
    height: 50vh;
    padding-top: 80px;
}

.flex2{
  // spanとinputを縦並び
  // display: flex;　//横並びにする
  // flex-direction: column; //並べる方向を縦にする
  display: block;
}

.centeredContent {
  width: 100%;
  justify-content: center;
  display: flex;
}

.coverdInput{
  display: flex;
  justify-content: center;
}

.input{
    border: none;
    width: 60%;
    padding: 1vh 2vh;
    display: block;
    height: 4vh;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
    display: inline-block;
    font-size: 1.5rem;
    

    &:focus{
        outline: 0;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        background: rgba(0, 0, 0, 0);
    }
}

.span{
    margin-left: 20%;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.centeredButton {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.btn{
    background-color: $btnC;
    color: #FFF;
    width: 60%;
    padding: 1vh 2vh;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
    text-align: center;

  &:hover{
    background: rgb(212, 1, 1);
    box-shadow: 0px 4px 35px -5px $btnC;
    cursor: pointer;
  }

  &:focus{
    outline: none;
  }
}

.error{
  color:red;
  margin-top: 2vh;
  text-align: center;
  margin-bottom: 3vh;
}

.link{
  text-decoration: none;
  color: $cWhite;

  &:hover{
    text-decoration:underline;
  }
}

.linkBox{
  text-align: right;
  margin-top: 2vh;
}
