$cBlack: black;
$cWhite: white;
$cP: rgb(183, 183, 183);
$cRadio: rgb(98, 98, 98);

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=M+PLUS+1p:wght@300;400&family=Noto+Serif+JP:wght@300&family=Poppins:wght@100&family=Zen+Kaku+Gothic+New:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=M+PLUS+1p:wght@300;400&family=Noto+Serif+JP:wght@300&family=Poppins:wght@100&family=Zen+Kaku+Gothic+New&display=swap');


.bg{
    background-image: url("../public/bg.png");
    margin-top: 0;
    background-size: cover; 
    background-attachment: fixed;
    padding-top: 4%;
    padding-bottom: 7%;
}

.main{
    // align-items: center;　//垂直方向
    text-align: center; // 水平方向
    background-color: rgb(238, 238, 238);
    width: 50%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 1000;
    padding-left: 2%;
    font-family: 'BIZ UDPGothic', sans-serif;
    border-radius: 4px;
    color: rgb(60, 60, 60);


    h1{
        margin-bottom: 5%;
        margin-left: 2%;
        margin-top: 1%;
        font-size: 2.5rem;
        text-align: left;
    }

    h2{
        text-align: left;
        position: relative;
        color: $cBlack;
        margin-left: 50px;
        margin-bottom: 1%;
        font-size: 2rem;

        span{
            background:linear-gradient(transparent 60%, rgba(255, 0, 0, 0.9) 60%);
        }
    }

    // p{
    //     color: $cP;
    // }
}

.h2B{
    margin-top: 5%;
}

.PhyP{
    text-align: left;
    margin-left: 7%;
    margin-bottom: 3%;
    font-size: 18px;

}

.tr{
    margin-bottom: 10v;
    height: 10vh;
    border: 1px solid #cecece !important; 
    margin-bottom: 10px; /* 適切なマージンを追加して間隔を調整 */
}

.th{
    text-align: left; //リストの項目を文字を左寄せ

    span{
        color: red;
        margin-left: 1%;
    }
}


.td{
    text-align: left;
    width: 70%;

    .inputT{
        height: 4vh;
        width: 50%;
        background-color:  &$cWhite;
        border: 1px solid rgb(67, 67, 67);
        border-radius: 6px;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 22px;
        color: $cBlack;


        &:hover{
            border:2px solid  rgb(134, 132, 132);
        }

        &:focus{
           outline:4px solid rgb(103, 103, 103);
           border: none;
        }


    }

    .inputN{
        height: 4vh;
        width: 15%;
        background-color: &$cWhite;
        border: 1px solid rgb(67, 67, 67);
        border-radius: 6px;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 22px;
        margin-right: 1.5%;
        color: $cBlack;

        &:hover{
            border:2px solid  rgb(134, 132, 132);
        }

        &:focus{
            outline:4px solid rgb(103, 103, 103);
            border: none;
         }
    }

    p {
        font-size: 18px;
        margin-top: 1%;
    }
}

.vertical{
    // radioボタンを立て並び
    display: flex;
    flex-direction: column;

     label {
        display: flex;
        align-items: center;
        gap: 0 .5em;
        position: relative;
        cursor: pointer;

        &::before,
        &:has(:checked)::after {
            border-radius: 3px;
            content: '';
        }

        &::before{
            width: 20px;
            height: 20px;
            border: 2px solid $cRadio;
            box-sizing: border-box;
        }

        &::after {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
            background-color: $cRadio;
        }

        &:has(:checked)::after {
            background-color: red;
            animation: anim-radio-002 .3s linear;
        }

        @keyframes anim-radio-002 {
            0% {
                box-shadow: 0 0 0 1px transparent;
            }
            50% {
                box-shadow: 0 0 0 10px #d0252533;
            }
            100% {
                box-shadow: 0 0 0 10px transparent;
            }
        }
        
        input {
            display: none;
        }


    }
}

.table{
    margin: auto;
    width: 80%;
    font-size: 1.5rem;

}

.btn{
    cursor: pointer;
    background-color: $cBlack;
    color: $cWhite;
    outline: none;
    border:solid $cWhite;
    margin-top: 7%;
    margin-bottom: 3%;
    width: 30%;
    height: 6vh;
    font-size: 1.5rem;
    font-family: 'BIZ UDPGothic', sans-serif;
    transition: all 0.3s;

    &:hover{
        background-color: rgb(247, 244, 244);
        border:solid $cBlack;
        color: $cBlack;
    }
}


.passwordVisible{
cursor: pointer;
width: 7%;
height: 4vh;
margin-left: 2%;
}


.error{
    color: red;
}

.disableBtn {
    background-color: grey;
    border: none;
    
    &:hover{
        background-color: grey;
        color: $cWhite;
        border: none;
    }
}

// error画面
.errorMain{
    background-color: rgb(192, 192, 192);
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
